<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kunlun.api.mapper.CategoryMapper">

    <!--添加类目活动关系-->
    <insert id="bindCategoryGood">
        INSERT INTO t_category_good
        (category_id,good_id, create_date)
        VALUES
        (#{categoryId},#{goodId},now())
    </insert>


    <!--清空跟类目id的绑定的所有商品关系-->
    <delete id="unbindWithCategoryId">
        DELETE FROM t_category_good
        WHERE category_id=#{categoryId}
    </delete>

    <!--清空跟商品id关联的关系-->
    <delete id="unbindWithGoodId">
        DELETE FROM t_category_good
        WHERE good_id=#{goodId}
    </delete>

    <!--类目新增-->
    <insert id="add" parameterType="com.kunlun.entity.Category">
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO t_cagetory(
        category_name,
        create_date,
        status,
        parent_id,
        sort,
        icon)
        VALUES (
        #{categoryName},
        now(),
        #{status},
        #{parentId},
        #{sort},
        #{icon})
    </insert>

    <!--校验名称-->
    <select id="validCategoryName" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM t_category WHERE category_name=#{categoryName} AND status='NORMAL'
    </select>

    <!--根据id校验名称-->
    <select id="validByNameAndId" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM t_category WHERE category_name=#{categoryName} AND id!={id} AND status='NORMAL'
    </select>

    <!--修改类目-->
    <update id="modify" parameterType="com.kunlun.entity.Category">
        UPDATE t_category SET
        <if test="categoryName!=null">category_name=#{categoryName},</if>
        <if test="status!=null">status=#{status},</if>
        <if test="parentId!=null">parent_id=#{parentId},</if>
        <if test="sort!=null">sort=#{sort},</if>
        <if test="createDate!=null">create_date=#{createDate},</if>
        <if test="icon!=null">icon=#{icon},</if>
        update_date=now()
        WHERE id=#{id}
    </update>

    <!--根据id获取详情-->
    <select id="findById" resultType="com.kunlun.entity.Category">
        SELECT
        id,
        category_name,
        create_date,
        update_date,
        parent_id,
        sort,
        icon,
        status
        FROM t_category
        WHERE  id=#{id}
    </select>

    <!--根据id删除类目-->
    <update id="deleteById">
        UPDATE t_category SET status='UN_NORMAL' WHERE id =#{id}
    </update>

    <!--根据id删除类目-->
    <update id="updateStatus">
        UPDATE t_category SET status=#{status} WHERE id =#{id}
    </update>

    <!--模糊查询-->
    <select id="findByCondition" resultType="com.kunlun.entity.Category">
        SELECT
        id,
        category_name,
        create_date,
        update_date,
        parent_id,
        sort,
        icon,
        status
        FROM t_category WHERE 1=1
        <if test="searchKey!=null">AND category_name LIKE #{searchKey}</if>
        <if test="type!=null and type=='PARENT'">AND parent_id=0</if>
        <if test="type!=null and type=='CHILD'">AND parent_id!=0</if>
    </select>
</mapper>