<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kunlun.api.mapper.FileMapper">

    <!--根据url查询图片-->
    <select id="findByUrl" resultType="com.kunlun.entity.MallImg">
        SELECT
         id,
        target_id,
        url,
        type,
        create_date
        FROM  t_mall_img WHERE url = #{url}
    </select>

    <!--删除图片-->
    <delete id="deleteByUrl">
        DELETE FROM  t_mall_img WHERE url = #{url}
    </delete>

    <!--删除主图子图-->
    <delete id="deleteAllByUrl">
        DELETE FROM  t_mall_img WHERE url LIKE #{url}
    </delete>

    <!--根据id删除图片-->
    <delete id="deleteById">
        DELETE FROM t_mall_img WHERE id=#{id}
    </delete>

    <!--插入图片地址-->
    <insert id="add" parameterType="com.kunlun.entity.MallImg">
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO t_mall_img(
        target_id,
        url,
        type,
        create_date)
        VALUES(
        #{targetId},
        #{url},
        #{type},
        NOW())
    </insert>

    <!--根据type查找图片 类型 商品图片 TYPE_IMG_GOOD,
                        品牌图片 TYPE_IMG_BRAND,
                        文章图片 TYPE_IMG_ARTICLE,
                        商品评价图片 TYPE_IMG_ESTIMATE,
                        广告图片 TYPE_IMG_BANNER,
                        活动图片 TYPE_IMG_ACTIVITY,
                        富文本图片路径 TYPE_IMG_RICH_CONTENT ,
                        证件照图片路径  TYPE_IMG_ID_PHOTO-->
    <select id="findByCondition" resultType="com.kunlun.entity.MallImg">
        SELECT id,
        target_id,
        url,
        type,
        create_date
        FROM t_mall_img
        WHERE 1=1
        <if test="type!=null and type!=''">AND type=#{type}</if>
        <if test="targetId!=null">AND target_id=#{targetId}</if>
    </select>

    <!--根据id修改图片-->
    <update id="modify" parameterType="com.kunlun.entity.MallImg">
        UPDATE t_mall_img
        SET update_date=now()
        <if test="url!=null ">,url=#{url}</if>
        <if test="type!=null ">,type=#{type}</if>
        <if test="targetId!=null ">,target_id=#{targetId}</if>
        WHERE id=#{id}
    </update>


    <select id="findIdPhotoByUserId" resultType="com.kunlun.entity.MallImg">
        SELECT
        id,
        target_id,
        url
        FROM  t_mall_img
        WHERE target_id=#{targetId}
        AND type='TYPE_IMG_ID_PHOTO'
    </select>


    <select id="list" resultType="com.kunlun.entity.MallImg">
        SELECT
        id,
        url
        FROM t_mall_img
        WHERE target_id=#{targetId} AND type=#{type}
    </select>
</mapper>