<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kunlun.api.mapper.TicketMapper">
    <!--查询优惠券快照信息-->
    <select id="findTicketSnapShotInfo" resultType="com.kunlun.entity.TicketSnapshot">
        SELECT * from t_ticket_snapshot WHERE id=#{ticketSnapShotId}
    </select>

    <!--查询用户优惠券信息-->
    <select id="findTicketUserInfo" resultType="com.kunlun.entity.TicketUser">
        SELECT * from t_ticket_user WHERE id = #{tickId}
    </select>

    <!--更改用户优惠券状态-->
    <update id="modifyUserTicketStatus">
        UPDATE t_ticket_user SET status = #{status} WHERE id= #{ticketId}
    </update>

    <!--判断优惠券名字是否存在-->
    <select id="validByTicketName" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM t_ticket WHERE ticket_name=#{ticketName} AND status='NORMAL'
    </select>

    <!--新增优惠券-->
    <insert id="add" parameterType="com.kunlun.entity.Ticket">
        INSERT INTO t_ticket(
        seller_id,
        ticket_name,
        content,
        start_date,
        end_date,
        money,
        num,
        status,
        create_date,
        ticket_no,
        type,
        update_date,
        num_limit,
        use_range,
        use_date,
        reduce_money
        ) VALUES (
        #{sellerId},
        #{ticketName},
        #{content},
        #{startDate},
        #{endDate},
        #{money},
        #{num},
        #{status},
        NOW(),
        #{ticketNo},
        #{type},
        NOW(),
        #{numLimit},
        #{useRange},
        #{useDate},
        #{reduceMoney}
        )
    </insert>
</mapper>