<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kunlun.api.mapper.TicketMapper">
    <!--查询优惠券快照信息-->
    <select id="findTicketSnapShotInfo" resultType="com.kunlun.entity.TicketSnapshot">
        SELECT * from t_ticket_snapshot WHERE id=#{ticketSnapShotId}
    </select>

    <!--查询用户优惠券信息-->
    <select id="findTicketUserInfo" resultType="com.kunlun.entity.TicketUser">
        SELECT * from t_ticket_user WHERE id = #{tickId}
    </select>

    <!--更改用户优惠券状态-->
    <update id="modifyUserTicketStatus">
        UPDATE t_ticket_user SET status = #{status} WHERE id= #{ticketId}
    </update>

    <!--判断优惠券名字是否存在-->
    <select id="validByTicketName" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM t_ticket WHERE ticket_name=#{ticketName} AND status='NORMAL'
    </select>

    <!--新增优惠券-->
    <insert id="add" parameterType="com.kunlun.entity.Ticket">
        INSERT INTO t_ticket(
        seller_id,
        ticket_name,
        content,
        start_date,
        end_date,
        money,
        num,
        status,
        create_date,
        ticket_no,
        type,
        update_date,
        num_limit,
        use_range,
        use_date,
        reduce_money
        ) VALUES (
        #{sellerId},
        #{ticketName},
        #{content},
        #{startDate},
        #{endDate},
        #{money},
        #{num},
        #{status},
        NOW(),
        #{ticketNo},
        #{type},
        NOW(),
        #{numLimit},
        #{useRange},
        #{useDate},
        #{reduceMoney}
        )
    </insert>

    <!--模糊查询优惠券（带分页）-->
    <select id="findByCondition" resultType="com.kunlun.entity.Ticket">
        SELECT seller_id,
        ticket_name,
        content,
        start_date,
        end_date,
        money,
        num,
        status,
        create_date,
        ticket_no,
        type,
        update_date,
        num_limit,
        use_range,
        use_date,
        reduce_money
        FROM t_ticket WHERE 1=1
        <if test="searchKey!=null">AND CONCAT_WS('',ticket_name,content) LIKE #{searchKey}</if>
    </select>

    <!--校验优惠券名字-->
    <select id="validTicketByNameAndId" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM t_ticket
        WHERE ticket_name=#{ticketName} AND id!=#{id} AND status='NORMAL'
    </select>

    <!--修改优惠券-->
    <update id="modifyByTicket" parameterType="com.kunlun.entity.Ticket">
        UPDATE t_ticket SET
        <if test="ticketName!=null">ticket_name=#{ticketName},</if>
        <if test="content!=null">content=#{content},</if>
        <if test="startDate!=null">start_date=#{startDate},</if>
        <if test="endDate!=null">end_date=#{endDate},</if>
        <if test="money!=null">money=#{money},</if>
        <if test="status!=null">status=#{status},</if>
        <if test="num!=null">num=#{num},</if>
        <if test="useDate!=null">use_date=#{useDate},</if>
        <if test="reduceMoney!=null">reduce_money=#{reduceMoney},</if>
        update_date=NOW()
        WHERE id=#{id}
    </update>

    <!--根据主键id删除优惠券-->
    <update id="deleteById" parameterType="com.kunlun.entity.Ticket">
        UPDATE t_ticket SET
        status='UN_NORMAL',
        update_date=NOW()
        WHERE id=#{id}
    </update>

    <!--根据主键id批量删除优惠券-->
    <update id="batchDeleteById" parameterType="com.kunlun.entity.Ticket">
        UPDATE t_ticket SET
        status='UN_NORMAL',
        update_date=NOW()
        WHERE id IN
        <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <!--根据主键查询优惠券详情-->
    <select id="findById" resultType="com.kunlun.entity.Ticket">
        SELECT
        id,
        seller_id,
        ticket_name,
        content,
        start_date,
        end_date,
        money,
        num,
        status,
        create_date,
        ticket_no,
        type,
        update_date,
        num_limit,
        use_range,
        use_date,
        reduce_money
        FROM t_ticket
        WHERE id=#{id}
    </select>
</mapper>